
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/* Common */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Page */

.page {
  height: 100%;
  color: #565c66;
  background-color: #feafc3;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 137%;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1170px;
  margin: 0 auto;
}

.page-main {
  flex-grow: 1;
}


/* Section */

.section-title {
  margin: 0;
  margin-bottom: 56px;
  font-size: 32px;
  line-height: 144%;
  font-weight: 900;
  color:#2d3440;
  text-align: center;
}

.section-desk {
  margin: 0;
  color: #2d3440;
  font-size: 18px;
  line-height: 133%;
}

/* Field */

.field {
  display: flex;
}

.field-group {
  margin: 0;
}

.field-input {
  width: 100%;
  margin: 0;
  padding: 14px 16px;
  font: inherit;
  line-height: 125%;
  background-color: #ffffff;
  color: #2d3440;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
}


.field-input::placeholder {
  font: inherit;
  line-height: 125%;
  color: #b9b9b9;
}

.field-input:hover {
  border-color: #2d3440;
}

.field-input:focus:not(:active) {
  outline: 2px solid #2d3440;
  outline-offset: -2px;
}

.field-input-error {
  border-color:#ea5454;
}

.field-input-error:hover {
  outline: 2px solid #ea5454;
  outline-offset: -2px;
}

.field-input:disabled {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  opacity: 0.65;
}

/* Button */

.button {
  display: inline-block;
  margin: 0;
  padding: 12px 32px;
  color: #2d3440;
  background-color: #fcfcfc;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  border: none;
  font: inherit;
  font-weight: 700;
  line-height: 125%;
  text-decoration: none;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline-color: #fcfcfc;
  box-shadow: 0 4px 15px 0 rgba(133, 133, 133, 0.15);
}

.button:active:not(:focus) {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
}

.button:focus{
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
}

.button:disabled{
  background-color: #e7e7e7;
  outline-color:rgba(252, 252, 252, 0.4);
  box-shadow: none;
  color: #B9B9B9;
  font-weight: 400;
}

.additional-button {
  background-color: #ff2f64;
  color: #fcfcfc;
  outline-color: rgba(255, 47, 100, 0.3);
}

.additional-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
  outline-color: #ff2f64;
  box-shadow: none;
}

.additional-button:active:not(:focus) {
  background-color: #feafc3;
  color: #fcfcfc;
  outline: 2px solid #2d3440;
}

.additional-button:focus {
  outline: 2px solid #2d3440;
  color: #fcfcfc;
  background-color: #ff2f64;
}

.additional-button:disabled {
  outline-color: rgba(185, 185, 185, 0.3);
  color:#565c66;
  background-color: #b9b9b9;
  font-weight: 400;
}

.feedback {
  background-image: url("../image/index/background-feedback.png");
}

/* Popover */

.popover {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  padding: 48px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  background-color: #fcfcfc;
}

.additional-item:focus-within .popover {
  display: block;
}

.popover-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 125%;
  color: #2d3440;
}

/* Header */

.header-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
}

.logo-link {
  margin-right: 16px;
}

.logo-image {
  display: block;
}

.site-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font: inherit;
  list-style-type: none ;
}

.site-menu-item {
  display: flex;
  align-items: center;
  position: relative;
}

.site-menu-link {
  display: inline-flex;
  align-items: center;
  padding: 6px 15px;
  max-height: 36px;
  color: #2d3440;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 30px;
  line-height: 125%;
}

.site-menu-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
}

.site-menu-link:active {
  background-color: #fcfcfc;
  border-color: transparent;
}

.site-menu-link:focus:not(:active) {
  background-color: rgba(252, 252, 252, 0.5);
  border-color:#2d3440;
}

.arrow-icon {
  margin-left: 4px;
}
/* Subcatalog */

.subcatalog {
  display: none;
  position: absolute;
  top: 54px;
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  background-color:#fcfcfc;
  font-size: 14px;
  line-height: 143%;
  width: 135px;
}

.site-menu-item:focus-within .subcatalog {
  display: block;
}

.site-menu-item:focus-within .site-menu-link{
  background-color: #ff4a78;
  color:#fcfcfc;
}

.site-menu-item:focus-within .arrow-icon {
  fill: #fcfcfc;
  transform: rotate(180deg);
}

.site-menu-item:focus-within .site-menu-link:hover {
  opacity: 0.6;
}

.site-menu-item:focus-within .site-menu-link:active {
  opacity: 0.3;
}

.site-menu-item:focus-within .site-menu-link:focus:not(:active){
  border-color:#000000;
}

.subcatalog-title {
  position: relative;
  display: block;
  color:#2d3440;
  font-weight: 700;
  margin: 0;
  padding: 8px 16px;
  margin-bottom:8px;
  text-decoration: none;
}

.subcatalog-title::after {
  position: absolute;
  content: "";
  right: 16px;
  left: 16px;
  bottom: -4px;
  height: 1px;
  background-color: #b9b9b9;
}

.subcatalog-link {
  display: block;
  color:#2d3440;
  text-decoration: none;
  padding: 6px 14px;
}

.subcatalog-link:hover {
 background-color: #ffcbd8;
}

.subcatalog-link:active {
  background-color: #ff7799;
}

.subcatalog-link:focus:not(:active) {
  background-color: #ff4a78;
  color: #e7e7e7;
}

.number {
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 16px;
  line-height: 125%;
}

.number:hover {
  opacity: 0.7;
}

.number:active {
  opacity: 0.3;
}

.number:focus:not(:active) {
  opacity: 0.6;
}

.additional-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-item{
  position: relative;
}

.additional-item:not(:last-child) {
  margin-right: 16px;
}


.additional-item-button {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #2d3440;
  text-decoration: none;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 5px 15px;
  max-height: 32px;
  border-radius: 30px;
  border: 2px solid transparent;
}

.additional-icon {
  margin-right: 6px;
}

.search {
  padding: 0;
  padding-left: 6px;
  width: 32px;
  height: 32px;
  border-radius: 27px;
}

.additional-item-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent
}

.additional-item-button:active {
  background-color: #fcfcfc;
  border-color: transparent;
}

.additional-item-button:focus:not(:active) {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
}

.additional-item:focus-within .additional-item-button {
  background-color: #ff4a78;
  color: #fcfcfc;
  fill: #fcfcfc;
  border-color: transparent
}

.additional-item:focus-within .additional-item-button:hover {
  opacity: 0.6;
  border-color: transparent
}

.additional-item:focus-within .additional-item-button:active {
  opacity: 0.3;
  border-color: transparent;
}

.additional-item:focus-within .icon-button:focus:not(:active) {
  border: 2px solid #000000;
}

.popover-search {
  width: 356px;
  padding: 24px 16px;
}

.popover-account {
  display: none;
  width: 420px;
}

.field {
  margin-bottom: 16px;
}

.popover-account-form .field:last-of-type {
  margin-bottom: 32px;
}

.login-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.login-wrapper .button {
  margin-right: 23px;
}

.user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 143%;
}

.user-item:not(:last-child) {
  margin-bottom: 4px;
}

.user-link {
  color: #2d3440;
  text-underline-offset: 3px;
}

.popover-cart {
  width: 441px;
}

.popover-cart-empty {
  display: none;
  width: 288px;
  padding: 48px 28px;
  text-align: center;
}

.cart-list {
  display: grid;
  grid-template-rows: repeat(auto-fill, 46px);
  row-gap: 24px;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  padding-bottom: 32px;
  border-bottom: 1px solid #e7e7e7;
  list-style-type: none;
}

.cart-item {
  display: grid;
  grid-template-columns: 62px 164px 103px 16px;
  align-items: center;
}

.cart-image {
  display: block;
  align-self: center;
}

.cart-title,
.cart-price,
.cart-cost,
.order-cost {
  margin: 0;
}

.cart-title,
.cart-cost,
.order-cost{
  font-size: 18px;
  line-height: 122%;
  color: #2d3440;
  font-weight: 700;
}

.cart-price {
  font-size: 14px;
  line-height: 143%;
  color: #b9b9b9;;
}

.cart-description {

}

.cart-remove-button {
  width: 16px;
  height: 16px;
  background-image: url("../image/icon/cross.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.cart-remove-button:hover {
  opacity: 0.7;
}

.cart-remove-button:active:not(:focus) {
  opacity: 0.3;
}

.cart-remove-button:active:not(:focus) {
  opacity: 0.6;
}

.cart-remove-button:disabled {
  opacity: 0.1;
}

.order-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.popover.popover-cart-empty {
  display: none;
}

/* Main */

/* Promo */

.promo {
  display: flex;
  color: #2d3440;
  margin-bottom: 80px;
}

.promo-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 128%;
}

.promo-desk {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
}

.promo-wrapper {
  /* display: flex;
  flex-direction: column; */
  width: 429px;
}

.slideshow-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* Banner */

.banner {
  color: #2d3440;
  margin-bottom: 80px;
}

.promotional-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 570px);
  gap: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.promotional-item {
  position: relative;
  border-radius: 16px;
  background-color: #FF7799;
  padding: 36px 217px 36px 36px;
}

.promotional-title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
}

.promotional-desk {
  margin: 0;
  margin-bottom: 28px;
}

.promotional-img {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}

/* Popular */

.popular {
  margin-bottom: 80px;
  text-align: center;
}

.popular .section-title{
  margin-bottom: 107px;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-item {
  position: relative;
  padding: 133px 40px 24px 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.card-title,
.card-price {
  font-weight: 700;
  color:#2d3440;
  font-size: 20px;
  line-height: 120%;
}

.card-title {
  margin: 0;
  margin-bottom: 8px;
}

.card-desk {
  margin: 0;
  margin-bottom: 16px;
}


.card-user-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img{
  display: block;
  position: absolute;
  top:-51px;
  right: 51px;
  border-radius: 50%;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.card-figure {
  margin: 0;
}

.card-price {
  margin: 0;
}

.cart-btn {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border-radius: 50%;
  border: 2px solid #ff2f64;
}

.cart-icon {
  fill:#fcfcfc;
  margin: auto;
}

.cart-btn:hover {
  background-color: rgba(252, 252, 252, 0.3);
}

.cart-btn:hover .cart-icon {
  fill: #2d3440;
}

.cart-btn:active {
  background-color:  #ffcbd8;
}

.cart-btn:active .cart-icon {
  fill: #2d3440;
}

.cart-btn:focus:not(:active) {
  border-color: #2d3440;
  background-color: #ff2f64;
}

.cart-btn::focus:not(:active) .cart-icon {
  fill: #fcfcfc;
}

.cart-btn:disabled {
  border-color: #b9b9b9;
  background-color: #b9b9b9;
}

.cart-btn:disabled .cart-icon {
  fill: #565c66;
}

/* Advatages */

.advantages {
  background-color: #ffffff;
  padding: 56px 40px;
  margin-bottom: 80px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 505px);
  gap: 40px 32px;
  list-style-type: none;
}

.advatages-item {
  position: relative;
}

.advantages-desk {
  margin: 0;
  padding-left: 64px;
}

.advatages-item::before {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 2px solid #2d3440;
  border-radius: 100%;
}

.icecream::before {
  background-image: url("../image/icon/ice-cream.svg");
}

.cow::before {
  background-image: url("../image/icon/cow.svg");
}

.leaf::before {
  background-image: url("../image/icon/leaf.svg");
}

.thermometer::before {
  background-image: url("../image/icon/thermometer.svg");
}

/* Blog */

.column-wrapper {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 570px);
  gap: 30px;
}

.blog {
  padding: 32px 235px 67px 32px;
  border-radius: 16px;
  background-image: url("../image/index/background-blog.png");
  background-size: cover;
  background-color: #ffffff;
}

.blog-title {
  margin: 0;
  line-height: 125%;
  margin-bottom: 12px;
}

.article-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  text-decoration: none;
  color: #2d3440;
}

/* Subscribe */

.subscribe {
  border-radius: 16px;
  background-color: #ffffff;
  padding: 32px;
}

.subscribe-desk {
  margin: 0;
  margin-bottom: 42px;
  color: #2d3440;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.subscribe-form .field-input {
  max-width: 332px;
}

/* Delivery */

.delivery {
  padding: 64px;
  background-image: url("../image/index/background-delivery.png");
  background-size: cover;
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  gap:35px;
  border-radius: 16px;
}

.delivery .text-content {
  padding: 103px 95px 42px 30px;
}

.delivery .section-title {
  margin-bottom: 24px;
  text-align: left;

}

.delivery-desk {
  margin: 0;
}

.form-wrapper {
  padding: 40px 40px 42px 42px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-form-info {
  margin: 0;
  margin-bottom: 32px;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 125%;
  color: #2d3440;
  position: relative;
}


.delivery-form-adress {
  grid-column: 1 / -1;
}

.info {
  position: absolute;
}
